.t_schedule {
  table-layout: fixed !important;
  width: 100% !important;
}

.time {
  width: 5.5% !important;
}

.size {
  width: 13.5% !important;
  font-size: 13px;
}

.f_title {
  font-size: 13px;
  text-align: center;
}

.tg .header_top {
  font-weight: bold;
  background-color: #efefef;
  border-color: #ffffff;
  vertical-align: top;
  text-align: center;
  border-bottom: none !important;
  padding-bottom: 0;
}

.tg .header_mid {
  font-weight: bold;
  background-color: #efefef;
  border-color: #ffffff;
  vertical-align: top;
  text-align: center;
  border-top: none !important;
  border-bottom: none !important;
  padding-top: 0;
  padding-bottom: 0;
}

.tg .header_bot {
  font-weight: bold;
  background-color: #efefef;
  border-color: #ffffff;
  vertical-align: top;
  text-align: center;
  border-top: none !important;
  padding-top: 10px;
}

.c_color {
  color: #444;
}

.c_pad {
  padding-top: 0;
  padding-bottom: 0;
}

.n_space {
  display: block;
  margin-top: 5px;
}

.author {
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
}

.title {
  text-align: right;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #9ABAD9;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #9ABAD9;
  color: #444;
  background-color: #EBF5FF;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #9ABAD9;
  color: #fff;
  background-color: #409cff;
}

.tg .dev-web {
  background-color: #ffccc9;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center
}

.tg .dev-web_top {
  background-color: #ffccc9;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  border-bottom: none;
}

.tg .dev-web_mid {
  background-color: #ffccc9;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .dev-web_bot {
  background-color: #ffccc9;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

.tg .social {
  background-color: #ffce93;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center
}

.tg .social_top {
  background-color: #ffce93;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  border-bottom: none;
}

.tg .social_mid {
  background-color: #ffce93;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .social_bot {
  background-color: #ffce93;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

.tg .bd-ml {
  background-color: #fffc9e;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center
}

.tg .bd-ml_top {
  background-color: #fffc9e;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  border-bottom: none;
}

.tg .bd-ml_mid {
  background-color: #fffc9e;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .bd-ml_bot {
  background-color: #fffc9e;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

.tg .floss-uni {
  background-color: #ffffc7;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center
}

.tg .floss-uni_top {
  background-color: #ffffc7;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  border-bottom: none;
}

.tg .floss-uni_mid {
  background-color: #ffffc7;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .floss-uni_bot {
  background-color: #ffffc7;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

.tg .privacidad {
  background-color: #9aff99;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center
}

.tg .privacidad_top {
  background-color: #9aff99;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  border-bottom: none;
}

.tg .privacidad_mid {
  background-color: #9aff99;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .privacidad_bot {
  background-color: #9aff99;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

.tg .perl {
  background-color: #cbcefb;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center
}

.tg .perl_top {
  background-color: #cbcefb;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  border-bottom: none;
}

.tg .perl_mid {
  background-color: #cbcefb;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .perl_bot {
  background-color: #cbcefb;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

.tg .inf-mat {
  background-color: #ecf4ff;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center
}

.tg .inf-mat_top {
  background-color: #ecf4ff;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  border-bottom: none;
}

.tg .inf-mat_mid {
  background-color: #ecf4ff;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
  border-top: none;
  border-bottom: none;
}

.tg .inf-mat_bot {
  background-color: #ecf4ff;
  border-color: #ffffff;
  vertical-align: text-top;
  text-align: center;
  padding-bottom: 10px;
  border-top: none;
}

/*
.talk:hover,
.talk:focus {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
  transform: translateY(-0.25em);
}
*/
.tg .hour {
  font-weight: bold;
  background-color: #ffffff;
  border-color: #ffffff;
  text-align: center
}

.tg .breaks {
  font-weight: bold;
  background-color: #e5113f;
  color: #ffffff;
  border-color: #ffffff;
  text-align: center
}

.tg .empty {
  background-color: #ffffff;
  border-color: #ffffff;
  text-align: center;
  vertical-align: top
}

.tg .blank {
  background-color: #ffffff;
  border-color: #ffffff;
  text-align: center
}

.tg .header {
  font-weight: bold;
  background-color: #e5113f;
  border-color: #ffffff;
  text-align: center
}

.undertitle {
  margin: 6px auto;
  width: 100%;
  line-height: 10;
  border-top: 5px solid #e5113f;
}

.speaker-photo {
  flex-direction: row;
  display: flex;
}

.flex-column {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

.speaker-header {
  display: flex;
}

.speaker-header div:not([class*="flex"]) {
  border: 1px solid white;
}

.speaker-text {
  background-color: #e9ecef;
  margin-top: 1em;
  padding: 1.5em;
}

.speaker-img {
  max-width: 100%;
  height: auto;
  width: auto
}

.speaker-name {
  padding: 0.2em;
  height: 2.7em;
  background-color: #e9ecef;
  font-size: 2vw;
}

.speaker-name-large {
  padding: 0.2em;
  height: 2.7em;
  background-color: #e9ecef;
  font-size: 1.4vw;
}

.box {
  width: 100%;
  text-align: center;
  margin: auto;
}

.images {
  margin: 1em;
  max-width: 40%;
}

.images-big {
  margin: 1em;
  max-width: 65%;
}

.images-small {
  margin: 1em;
  max-height: 120px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-logo {
  padding-right: 10px;
  padding-bottom: 10px;
  max-height: 120px;
  height: auto;
  width: auto;
}

.main-header {
  padding-top: 0.5em;
}

.main-container {
  padding-bottom: 10em;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.0em 10px;
  padding: .5em .5em 0.05em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-weight: bold;
}
