<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="https://eslib.re/2021/">es<span style="color: red;">Libre</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://gitlab.com/eslibre/propuestas/" target="_blank">Repositorio de propuestas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://matrix.to/#/#esLibre:matrix.org" target="_blank"><svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="17.009262pt" height="17.249676pt" viewBox="0 0 17.009261 17.249676"
              version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g transform="matrix(0.00601034,0,0,-0.00601034,0,17.249676)" fill="currentColor" stroke-width="0.03827738" id="g10">
                <path d="M 0,1435 V 0 h 200 200 v 105 105 h -95 -95 v 1225 1225 h 95 95 v 105 105 H 200 0 Z" id="path4" />
                <path d="m 2430,2765 v -105 h 95 95 V 1435 210 h -95 -95 V 105 0 h 200 200 v 1435 1435 h -200 -200 z" id="path6" />
                <path
                  d="m 1128,1927 c -56,-16 -110,-50 -160,-103 l -38,-38 v 62 62 H 800 670 l 2,-487 3,-488 h 135 135 l 5,330 c 5,355 6,360 62,412 70,66 205,54 246,-21 15,-27 18,-76 22,-376 l 5,-345 h 132 133 l 2,320 c 3,319 3,320 28,369 34,67 66,89 137,93 71,5 118,-17 148,-67 19,-33 20,-55 24,-377 l 3,-343 h 135 134 l -3,388 c -3,382 -3,388 -27,439 -13,29 -44,72 -70,96 -65,61 -130,82 -251,82 -84,0 -102,-3 -151,-28 -31,-15 -77,-49 -103,-77 l -46,-49 -14,27 c -21,41 -65,78 -120,102 -61,27 -182,35 -248,17 z"
                  id="path8" />
              </g>
            </svg></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://t.me/esLibre" target="_blank"><i class="fab fa-telegram-plane fa-lg"></i></a>
        </li>
        <li style="padding-top: 0.1em !important;" class="nav-item">
          <a class="nav-link" href="https://floss.social/@eslibre/" target="_blank"><svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="16" height="17.151014" viewBox="0 0 16 17.151014" version="1.1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="m 15.999307,5.6310863 c 0,-3.7205592 -2.438662,-4.8114604 -2.438662,-4.8114604 -2.393096,-1.09856989 -8.7486725,-1.08708408 -11.118808,0 0,0 -2.43903911,1.0909012 -2.43903911,4.8114604 0,4.4286907 -0.25263082,9.9291507 4.04324761,11.0659967 1.5506084,0.409569 2.8830546,0.497604 3.9552014,0.436358 1.9448745,-0.107201 3.0361641,-0.692817 3.0361641,-0.692817 l -0.06503,-1.412437 c 0,0 -1.3898526,0.436359 -2.9519582,0.386599 -1.54678,-0.0536 -3.1770233,-0.168424 -3.4307969,-2.066979 a 3.9249625,3.9249625 0 0 1 -0.0344,-0.53205 c 3.2776867,0.799995 6.0727061,0.348322 6.8420721,0.256459 2.148134,-0.256459 4.019133,-1.58086 4.257592,-2.790425 0.375123,-1.9062115 0.344507,-4.6507047 0.344507,-4.6507047 z M 13.12391,10.423415 H 11.339036 V 6.0521415 c 0,-1.9023828 -2.449758,-1.975115 -2.449758,0.2641167 V 8.7085883 H 7.1158903 V 6.3158695 c 0,-2.2392201 -2.4497591,-2.1664994 -2.4497591,-0.2641166 V 10.423038 H 2.8774294 c 0,-4.6736764 -0.1990418,-5.6612281 0.7046921,-6.6985403 C 4.5735018,2.6182821 6.6374174,2.54555 7.5564657,3.9579856 L 8.0004811,4.7043921 8.4444966,3.9579856 C 9.3673624,2.5378928 11.434729,2.6259278 12.418841,3.7244977 c 0.90755,1.0449694 0.704303,2.0286925 0.704303,6.6985403 z"
                id="path2" style="fill:currentColor;stroke-width:0.03827738" />
            </svg></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:{{site.mail}}"><i class="fas fa-envelope fa-lg"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://gitlab.com/{{site.gitlab}}" target="_blank"><i class="fab fa-gitlab fa-lg"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
